.header {
  display: flex;
  justify-content: space-between;
  background-color: #463239ff;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
}

.header img {
  width: 60px;
  border-radius: 2%;
  box-shadow: 5px 5px 0 #000;
}

.header img:hover {
  transform: scale(1.02);
}
