.main-section {
  background-color: #fcf69cff;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px #226f54ff solid;
}

.main-section .main-title {
  margin-bottom: 60px;
}

.main-section.-bgBlack {
  background-color: black;
}
.main-section.-bgGreen {
  background-color: #226f54ff;
}

.main-section.-bdYellow {
  border-color: hsl(40deg 83% 59%);
}
.main-section.-bdRed {
  border-color: #463239ff;
}